<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="../base.css">
  </head>
  <body>
    <header>
      Login
    </header>
    <div class="loginbox">
      <p>
        Email
      </p>
      <input type="text" name="email" class="logininputbox">
      <p>
        Password
      </p>
      <input type="text" name="email" class="logininputbox">
      <br>
      <a href="">Ok</a>
      <a href="Home.html">Cancel</a>
    </div>
  </body>
</html>
