<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Register</title>
  <link rel="stylesheet" href="../base.css">
</head>

<body>
  <header>
    Register
  </header>
  <div class="dropdown">
    <button class="dropbtn">Role</button>
    <div class="dropdown-content">
      <button type="button" name="button">Caregiver</button>
      <button type="button" name="button">Doctor</button>
      <button type="button" name="button">Family Member</button>
      <button type="button" name="button">Patient</button>
      <button type="button" name="button">Admin</button>
      <button type="button" name="button">Supervisor</button>
    </div>
  </div>
  <div class="eachinput">
    <p class="normalbox">
      First Name
    </p>
    <input type="text" name="Fname" class="inputbox">
  </div>
  <div class="eachinput">
    <p class="normalbox">
      Last Name
    </p>
    <input type="text" name="Lname" class="inputbox">
  </div>
  <div class="eachinput">
    <p class="normalbox">
      Email ID
    </p>
    <input type="text" name="emailid" class="inputbox">
  </div>
  <div class="eachinput">
    <p class="normalbox">
      Phone
    </p>
    <input type="text" name="Phone" class="inputbox">
  </div>
  <div class="eachinput">
    <p class="normalbox">
      Password
    </p>
    <input type="text" name="Password" class="inputbox">
  </div>
  <div class="eachinput">
    <p class="normalbox">
      Date of birth
    </p>
    <input type="text" name="DOB" class="inputbox">
  </div>
  <div class="Patientonly">
    <div class="eachinput">
      <p class="normalbox">
        Family code (For Patient Family Member)
      </p>
      <input type="text" name="Famcode" class="inputbox">
    </div>
    <div class="eachinput">
      <p class="normalbox">
        Emergency Contact
      </p>
      <input type="text" name="Emcontact" class="inputbox">
    </div>
    <div class="eachinput">
      <p class="normalbox">
        Relation to Emergency Contact
      </p>
      <input type="text" name="Remcontact" class="inputbox">
    </div>
  </div>
  <a href="" class="loginmovement">Ok</a>
  <a href="Home.html" class="loginmovement">Cancel</a>
</body>

</html>
