<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Caregiver's Home</title>
    <link rel="stylesheet" href="../base.css">
  </head>
  <body>
    <header>
      Home
    </header>
    <p class="normalbox">List of Patients duty</p>
    <div class="caretakerhelp">
      <p class="dailybox">
        Name
      </p>
      <p class="inputbox"></p>
      <p class="dailybox">
        Morning Medicine
      </p>
      <p class="inputbox"></p>
      <p class="dailybox">
        Afternoon Medicine
      </p>
      <p class="inputbox"></p>
      <p class="dailybox">
        Night Medicine
      </p>
      <p class="inputbox"></p>
      <p class="dailybox">
        Breakfast
      </p>
      <p class="inputbox"></p>
      <p class="dailybox">
        Lunch
      </p>
      <p class="inputbox"></p>
      <p class="dailybox">
        Dinner
      </p>
      <p class="inputbox"></p>
    </div>
    <a href="Caregiverhome.html" class="loginmovement">Ok</a>
    <a href="Caregiverhome.html" class="loginmovement">Cancel</a>
  </body>
</html>
