<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Doctor's Home</title>
    <link rel="stylesheet" href="../base.css">
  </head>
  <body>
    <header>
      Home
    </header>
    <div class="Patientinfo">
      <p class="dailybox">
        Name
      </p>
      <p class="inputbox"></p>
      <p class="dailybox">
        Date
      </p>
      <p class="inputbox"></p>
      <p class="dailybox">
        Comment
      </p>
      <p class="inputbox"></p>
      <p class="dailybox">
        Morning Med
      </p>
      <p class="inputbox"></p>
      <p class="dailybox">
        Afternoon Med
      </p>
      <p class="inputbox"></p>
      <p class="dailybox">
        Night Med
      </p>
      <p></p>
      <p class="inputbox"></p>
    </div>
    <div class="Appoitments">
      <p class="normalbox">
        Appointments
      </p>
      <input type="text" name="Date" class="inputbox">
      <button type="button" class="loginmovement">Submit</button>
      <a href="../Patient/Patientofdoctor.html">Patient</a>
      <p class="dailybox">
        Date
      </p>
    </div>
  </body>
</html>
