<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Patienthome</title>
        <link rel="stylesheet" href="../base.css">
  </head>
  <body>
    <header>
      Home
    </header>
    <p class="normalbox">
      Patient ID
    </p>
    <p class="inputbox"></p>
    <p class="normalbox">
      Access Level
    </p>
    <input type="text" name="Date" class="inputbox">
    <p class="normalbox">
    Patient Name
    </p>
    <p class="inputbox"></p>
    <div class="Dailyinformation">
      <p class="dailybox">
        Doctor's Name
      </p>
      <p class="inputbox"></p>
      <p class="dailybox">
        Doctor's Appointment
      </p>
      <p class="inputbox"></p>
      <p class="dailybox">
        Caregiver's Name
      </p>
      <p class="inputbox"></p>
      <p class="dailybox">
        Morning Medicine
      </p>
      <p class="inputbox"></p>
      <p class="dailybox">
        Afternoon Medicine
      </p>
      <p class="inputbox"></p>
      <p class="normalbox">
        Night Medicine
      </p>
      <p class="inputbox"></p>
      <p class="dailybox">
        Breakfast
      </p>
      <p class="inputbox"></p>
      <p class="dailybox">
        Lunch
      </p>
      <p class="inputbox"></p>
      <p class="dailybox">
        Dinner
      </p>
      <p class="inputbox"></p>
    </div>
  </body>
</html>
