<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Additional Information on Patient</title>
    <link rel="stylesheet" href="../base.css">
  </head>
  <body>
    <header>
      Additional Patient Information
    </header>
    <p class="normalbox">
      Patient ID
    </p>
    <input type="text" name="Patient ID">
    <p class="normalbox">
      Group
    </p>
    <input type="text" name="Group">
    <p class="normalbox">
      Admission Date
    </p>
    <input type="text" name="Admission Date">
    <p class="normalbox">
      Patient Name
    </p>
    <p class="PatientIDname"></p>
    <a href="Adminreport.html" class="loginmovement">Ok</a>
    <a href="Adminreport.html" class="loginmovement">Cancel</a>
  </body>
</html>
