<!DOCTYPE html>
<html lang="'en'" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Patient Of Doctor</title>
    <link rel="stylesheet" href="../base.css">
  </head>
  <body>
    <header>
      Patient
    </header>
    <div class="Patients">
      <p class="dailybox">
        Date
      </p>
      <p class="dailybox">
        Comment
      </p>
      <p class="dailybox">
        Morning Med
      </p>
      <p class="dailybox">
        Afternoon Med
      </p>
      <p class="dailybox">
        Night Med
      </p>
    </div>
    <p class="normalbox">New Perscription</p>
    <div class="Newperscription">
      <p class="dailybox">
        Comment
      </p>
      <p></p>
      <p class="dailybox">
        Morning Med
      </p>
      <p class="dailybox">
        Afternoon Med
      </p>
      <p class="dailybox">
        Night Med
      </p>
    </div>
    <a href="../Home-pages/Doctorhome.html" class="loginmovement">Ok</a>
    <a href="../Home-pages/Doctorhome.html" class="loginmovement">Cancel</a>
  </body>
</html>
