<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Patients</title>
      <link rel="stylesheet" href="../base.css">
  </head>
  <body>
    <header>
      Patients
    </header>
    <div class="Patientinfo">
      <p class="dailybox">
        ID
      </p>
      <p class="inputbox"></p>
      <button type="button" name="button" class="searchbox">Search for ID</button>
      <p class="dailybox">
        Name
      </p>
      <p class="inputbox"></p>
      <button type="button" name="button" class="searchbox">Search for Patient Name</button>
      <p class="dailybox">
        Age
      </p>
      <p class="inputbox"></p>
      <button type="button" name="button" class="searchbox">Search for Age</button>
      <p class="dailybox">
        Emergency Contact
      </p>
      <p class="inputbox"></p>
      <button type="button" name="button" class="searchbox">Search for Emergency Contact</button>
      <p class="dailybox">
        Emergency Contact Name
      </p>
      <p class="inputbox"></p>
      <button type="button" name="button" class="searchbox">Search for Emergency Contact Name</button>
      <p class="dailybox">
        Admission Date
      </p>
      <p class="inputbox"></p>
      <button type="button" name="button" class="searchbox">Search for Admission Date</button>
    </div>
  </body>
</html>
